.main{
    display:flex;
    box-shadow: 5px 5px 5px #888888;
    width:45%;
    max-width:500px;
    min-width:230px;
    margin-bottom:20px;
    background:#005e9b;
    border-radius: 1em;
    padding:1%;
}
.img-holder{
    margin:auto;
    margin-left: 20px;
}
.img-holder img{
    border-radius: 50%;
    border:8px solid white;
    margin:5px;
}
.text{
    color:white;
    text-align:left;
    padding:1em;
    padding-right:70px;
}
@media(max-width:1040px){
    .main{
        flex-direction:column;
    }
    .img-holder{
      margin:auto;
      border:1px solid red
    }
    .text{
        margin:auto;
        text-align: center;
        padding:0px;
        border:1px solid red;
    }
}